{% extends 'base.html.twig' %}

{% block header %}
    {% include 'parts/header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container mb-5 mt-5">
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.

    {% if cart|length > 0 %}
        <table class="table table-hover table-responsive mt-3">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col"></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for product in cart %}
                <tr>
                    <th>
                        <img src="/images/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px"><br/>
                    </th>
                    <td>
                        {{ product.product.name }}<br/>
                        <small>{{ product.product.subtitle }}</small>
                    </td>
                    <td>
                        <a href="{{ path('decrease_to_cart', {'id' : product.product.id}) }}" class="text-decoration-none text-dark">
                            -
                        </a>
                        <span>{{ product.quantity }}</span>
                        <a href="{{ path('cart_add', { 'id' : product.product.id }) }}" class="text-decoration-none text-dark">
                            +
                        </a>
                    </td>
                    <td>{{ (product.product.price / 100)|number_format(2, ',', '.') }} €</td>
                    <td>{{ ((product.product.price * product.quantity ) / 100)|number_format(2, ',', '.') }} €</td>
                    <td>
                        <a href="{{ path('delete_to_cart', {'id' : product.product.id}) }}" >
                            <i class="far fa-trash-alt text-danger"></i>
                        </a>
                    </td>
                </tr>
                {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}
            </tbody>

        <tfoot>
        <tr>
            <td colspan="4"> <b>Total de mon panier :<br/></b>
            <b>Nombre de produit :</b> {{ cart|length }}</td>
            <td>{{ (total / 100)|number_format(2, ',', '.') }} €</td>
        </tr>
        </tfoot>
        </table>
        <div class="text-center ">


        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-success" type="button">Valider mon panier</button>
        </div>
    {% else %}
        <hr>
        <p><b>Votre panier est vide.</b></p>
    {% endif %}
    </div>
{% endblock %}
