{% extends 'base.html.twig' %}

{% block header %}
    {% include 'parts/header.html.twig' %}
{% endblock %}

{% block body %}

<div class="container-fluid col-md-9 px-4 px-lg-5 mt-5 mb-5">

<div class="row justify-content-center">
    <div class="col-md-3">
        {{ form(form) }}
    </div>
    <div class="col-md-9">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


        {% for product in products %}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <a href="{{ path('product_details', {'slug' : product.slug}) }}"><img class="card-img-top" src="{{ asset('images/' ~ product.illustration) }}" alt="..." /></a>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <p>{{ product.subtitle }}</p>
                            <!-- Product price-->
                            <b>{{ product.price/100 }} €</b>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a href="{{ path('cart_add', { 'id' : product.id}) }}" class="btn btn-primary">Ajouter au panier</a></div>
                    </div>
                </div>
            </div>
        {% endfor%}
    </div>
    </div>
</div>
</div>
{% endblock %}
