{% extends 'base.html.twig' %}

{% block header %}
    {% include ('parts/header.html.twig') %}
{% endblock %}
{% block body %}
    <div class="container mb-5 mt-5">

        <div class="row">
            <div class="col-md">
                    {{ form_start(form) }}
                {{ form_row (form.firstname) }}
                {{ form_row (form.lastname) }}
                {{ form_row (form.email) }}
                {{ form_row (form.password) }}

                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-lg btn-outline-dark m-5">S'inscrire</button>
                </div>

                {{ form_end(form) }}

            </div>
            <div class="col-md">

                    <img src="{{ asset('images/inscription.jpeg') }}" class="ml-auto"  width="100%"  alt="inscription">

            </div>
        </div>
    </div>


{% endblock %}
