{% extends 'base.html.twig' %}

{% block header %}
    {% include 'parts/header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <p>
            Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>,<br/><br/>
            Nous vous remercions pour votre commande n°<strong>{{ order.reference }}</strong>.<br/>
            Une confirmation vient de vous être envoyée par email à l'adresse <strong>{{ order.user.email }}</strong>.
        <hr>
        Votre commande sera livrée par <strong>{{ order.carrierName }}</strong> à l'adresse suivante : <br/>
        {{ order.delivery|raw }}
        <hr>
        Pour suivre votre commande, rendez-vous dans votre <a href="">compte</a>.
        </p>
    </div>
{% endblock %}
